<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/style.css')}}">
    <title>DooDle</title>
</head>
<body>
    <div class="contain">
        <h1 id = 'a' ></h1>
       <div class="the">
        <canvas id = "canvas"></canvas>
        </div>
        <div class="center">
            <input type="button" value="submit", id="btn">
        </div>
    </div>
    <script src="{{url_for('static', filename = 'js/script.js')}}"></script>
</body>
</html>